<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="basicauth admin page">
    <meta name="author" content="EmilK">
</head>
	<title>Admin page</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="..\public\stylesheets\admin.css">

	<body>
		<script type='text/javascript'>
			var userFromServer = <%-JSON.stringify(username)%>
		</script>	
		<div id="root"></div>
		<script type="text/javascript" src="../public/build/bundle.js"></script>
	</body>

</html>